@import "clearfix";

*.html body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}

.warning {
  color: darken(red, 20%);
  font-weight: bold;
}
.peoplename {
  cursor: pointer;
}

.container{
  @include clearfix;
  width: 100%;
}

.row{
  @include clearfix;
}

.column{
  float: left;

}
.is-hidden{
  display: none;
}
.is-margin-bottom{
  margin-bottom: 20px;
}
.is-margin-top{
  margin-top: 20px;
}

footer{
  background: #000;
  color: #FFF;
}

.Buttons {
  margin: 10px;
  padding: 10px;
  overflow: hidden;

  .previousBtn,
  .nextBtn{
    display: inherit;
    float: left;
  }
  .nextBtn {
    float: right;
  }
}